<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_head %>
</head>
<body class="container">

<header>
  <% include ./partials/_header %>
</header>

<main>
  <div class="jumbotron">
    <h1>Shortened URL</h1>
  </div>
  <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="http://localhost:8080/urls/">URLs</a></li>
      <li class="breadcrumb-item active">Add URL</li>
    </ol>
    <form action="/urls" method="post">
      <div class="form-group">
        <label for="longURL">URL:</label>
        <input type="text" class="form-control" id="longURL" name="longURL">
          <span class="help-block">Enter the URL you want to shorten.</span>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</main>

<footer>
  <% include ./partials/_footer %>
</footer>

</body>
</html>